.container {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}
.stext-109 {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 1.833333;
}
.stext-101 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
}
.stext-102 {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
}

.stext-107 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923;
  }

.mtext-104 {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 1.6;
}

.mtext-105 {
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 1.5;
}
.mtext-106 {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 1.388888;
}
.ltext-106 {
    font-family: Poppins-Bold;
    font-size: 36px;
    line-height: 1.2;
  }
.cl0 {color: #fff;}


.cl2 {
    color: #333;
}

.cl3 {
    color: #666;
}

.cl4 {
    color: #999;
}
.cl5 {color: #222;}

.cl6 {color: #888;}

.cl8 {
    color: #555;
}

.bg0 {
    background-color: #fff;
}
.bg1 {background-color: #717fe0;}

.bg6 {background-color: #f2f2f2;}

.hov-cl1:hover {
    color: #ff8d02;
}
.hov-btn1:hover {
    border-color: #222;
    background-color: #222;
    color: #fff;
  }

  .hov-btn1:hover i {
    color: #fff;
  }
.hov-btn3:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
}

.hov-btn3:hover i {
    color: #fff;
}

.size-101 {
    min-width: 161px;
    height: 46px;
  }
.size-204 {
    width: calc(100% - 105px);
}

.bor1 {
    border-radius: 23px;
  }
  .bor10 {
    border: 1px solid #e6e6e6;
  }
