
.content-wrapper-give {
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 15px;
}

.text-small {
    font-family: Poppins-Regular;
    font-size: 12px;
    line-height: 1.833333;
}

.text-uppercase-bold {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
}

.text-normal {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
}

.text-light {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
}

.text-spaced {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.466667;
    letter-spacing: 1px;
}

.text-medium {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.923;
}

.text-medium-title {
    font-family: Poppins-Medium;
    font-size: 16px;
    line-height: 1.6;
}

.text-large {
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 1.5;
}

.text-semi-bold {
    font-family: Poppins-SemiBold;
    font-size: 18px;
    line-height: 1.388888;
}

.text-bold-large {
    font-family: Poppins-Bold;
    font-size: 36px;
    line-height: 1.2;
}

.text-white {
    color: #fff;
}

.text-dark {
    color: #333;
}

.text-muted {
    color: #666;
}

.text-light-muted {
    color: #999;
}

.text-darkest {
    color: #222;
}

.text-grey {
    color: #888;
}

.text-medium-dark {
    color: #555;
}

.clo-background-white {
    background-color: #fff;
}

.clo-background-primary {
    background-color: #717fe0;
}

.clo-background-light {
    background-color: #f2f2f2;
}

.hover-color-primary:hover {
    color: #ff8d02;
}

.hover-btn-dark:hover {
    border-color: #222;
    background-color: #222;
    color: #fff;
}

.hover-btn-dark:hover i {
    color: #fff;
}

.hover-btn-primary:hover {
    border-color: #717fe0;
    background-color: #717fe0;
    color: #fff;
}

.hover-btn-primary:hover i {
    color: #fff;
}

.btn-large {
    min-width: 161px;
    height: 46px;
}

.full-width-minus {
    width: calc(100% - 105px);
}

.border-rounded {
    border-radius: 23px;
}

.border-light {
    border: 1px solid #e6e6e6;
}

.sz-h-80 {
    min-height: 80px;
  }
