.fixed-profile{
    position: relative;
}

.profile-container.profile-background {
    background-color: #fff;
    padding-top: 130px;
    padding-bottom: 85px;
    min-height: 100vh;
}

h2.text-center {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 40px;
}

form.profile-background {
    background: linear-gradient(135deg, #6c9d70, #81b3e5);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-bottom: 8px;
    display: inline-block;
}

input.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    transition: border-color 0.3s ease;
}

input.form-control:focus {
    border-color: #717fe0;
    outline: none;
    background-color: #fff;
}

input.form-control::placeholder {
    color: #aaa;
}
